body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px 10px 20px;
}

#titulo {
    text-align: center;
    font-size: 25px;
    width: auto;
    background-color: rgb(106, 65, 219);
    padding: 40px;
    margin: -8px;
    color: white;
}

#texto {
    font-size: 25px;
    padding: 5px;
    line-height: 35px;
}

#calculadora1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(106, 65, 219);
    color: white;
    width: 390px;
    height: 300px;
    padding-top: 10px;
}

input {
    width: 320px;
    padding: 10px;
    margin: 5px;
    font-size: 20px;
    text-align: center;
}

button {
    width: 200px;
    font-size: large;
    background-color: rgb(63, 38, 131);
    color: rgb(255, 255, 255);
    margin-top: 10px;
}

.pe {
    margin: 5px -8px -10px -8px;
    padding: 30px;
    background-color: rgb(204, 204, 204);
    color: rgb(107, 107, 107);
    text-align: center;
    font-size: large;
}

.pe a{
    text-decoration: none;
}

#resultados {
    font-size: 25px;
}

#texto2 {
    font-size: 25px;
    padding: 5px;
    line-height: 35px;
}

#calculadora2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(106, 65, 219);
    color: white;
    width: 390px;
    height: 180px;
    padding-top: 10px;
}

#calculadora2 input{
    width: 330px;
}

#resultados2 {
    font-size: 25px;
}

#texto3 {
    font-size: 25px;
}